<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store List</title>
</head>
<body>
    <%- include('../navbar.ejs') %> 
    <h1>Store List</h1>
    <a href="/stores/add"><button style="background-color: magenta;">Add Store</button></a>
    <table border="1"> 
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Informations
            </th>
            <th>
                Locations
            </th>
            <th>
                Actions
            </th>
        </tr>
        <% for(let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].name%></td>
                <td><%= data[i].type%></td>
                <td><%= data[i].information%></td>
                <td><%= data[i].location%></td>
                <td>
                    <a href=""><button style="background-color: blue;">Edit</button></a>
                    <a href=""><button style="background-color: red;">Delete</button></a>
                    <a href=""><button style="background-color: yellow;">Members</button></a>
                    <a href=""><button style="background-color: gray;">Post Event</button></a>
                </td>
            </tr>
        <% } %> 
    </table>
</body>
</html>